<div class="ml-5">
    <br/>
<strong class="mt-3 ml-1 mr-2">Stacked Axes</strong>
<label class="switch">
    
    <input id="chkStack" type="checkbox" [(ngModel)]="isChecked" >
    <span class="slider"></span>
  </label>
</div> 

<div id="controls" style="width: 100%; overflow: hidden;">

  <div style="float: right; margin-right: 15px;">
    <div class="btn-group" role="group" aria-label="Basic example">
  <button id="minute" class="btn btn-primary">Minute</button>
  <button id="hour" class="btn btn-primary">Hour</button>
  <button id="day" class="btn btn-primary">Day</button>
  <button id="month" class="btn btn-primary">Month</button>
</div>
  </div>
  </div>
<div id="chartdiv">
    
</div>